# Directories
node_modules/
dist/
coverage/

# Logs
logs
*.log

# Environment variables
.env


# IDE specific files
.vscode/
.idea/

# Compiled output
*.map

# Miscellaneous
.DS_Store
Thumbs.db
green-metrics-tool